<!DOCTYPE html>
<html>
<head>
<title>Projects</title>
</head>
<body>

<h1>Recursive Web crawler</h1>
<p>
    A web crawler that uses Use 3rd-party libraries crawl the web and click 
    links while relying on Exception Handling to deliver a safe and 
    robust solution
</p>

<h1>Fractal Generator</h1>
<p>
    A program that generates unique fractals based on the users choice of 
    color palette and fractal design
</p>

<h1>Bingo</h1>
<p>
    An interactive bingo card generator where a user can create a custom
     bingo deck from an interactive menu within the program. 
</p>


</body>
</html>