<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/../static/theApp/style.css">
</head>
<body>
    <h1>
        Log in:
    </h1>
    <form action="/sessions/new/" method="post">
        <label>
            Email:
            <input type="string" name="email" id="email">
        </label>
        <label>
            Password:
            <input type="password" name="password" id="password">
        </label>
        <div class="button"><button>Log in</button></div>
    </form>
</body>
</html>