.container {
    position: relative;
    width: 300px;
    margin: 20px auto;
    overflow: hidden;
    overflow: clip;
    overflow-clip-margin: 10em;
}
.images {
    display: flex;
}
.image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
.paragraph{
    padding: 0px 10px;
    font-size: 20px;
    background-color: var(--darkBlue);
    border-radius: 4px;
}
