<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Activity</title>
    <link rel="stylesheet" href="../static/myApp/style.css">
</head>
<body>
    <header>
        <header>
            <h1>
                Activity Tracker
            </h1>
            <div class="newActivityHeader"><p>New Activity</p></div>
        </header>
    </header>
    <main>
        <form action="/new_activity/" method="post">
            <label>
                Name:
                <input type="string" name="name" id="name">
            </label>
            <div><button class="button">Save</button></div>
        </form>
    </main>
</body>
</html>